@model IEnumerable<Final_Project.Models.Transaction>

@{
    ViewData["Title"] = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Transaction Details</h1>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cctype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ccexpiry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cctype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ccexpiry)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
